.nav-items .nav-list{
    position: relative;
    transition: all .6s linear;
}
.nav-items .nav-list:after{
    content: "";
    width: 0%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: #ffc107;
    transition: all .4s ease-in-out;
}
.nav-items .nav-list:hover:after{
    width: 100%;
}

@media (max-width: 767px) {
    nav .nav-items {
    position: absolute;
    background-color: #383a25;
    position:fixed;
    right:-100%;
    top: 0px;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    transition: all .6s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}